.titles{
    text-align: center;
    color: #8f8f8f;
    font-size: 20px;
    font-weight: 300;
    margin: 70px 0 30px;
}
.titles h2{
    
    padding-bottom: 20px;
}
.titles h3{
 font-size: 22px;
 color: rgb(1, 2, 13);
 margin-top: 5px;
text-transform: none;
}