nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.R
{
    width: 200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:5px 20px;
    font-size: 16px;

}
.dark-nav
{
    background: rgba(0, 0, 0, 0.507);
    transition: 1s;
}
.menu-icon{
    display: none;

}
/* media query */

@media (max-width: 1000px)
{
   .logo{
    width: 140px;
   }
   nav ul li{
    margin: 10px 15px;
   }
}
@media (max-width: 840px){
    nav{
        padding: 15px 0;

    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background: #212e21;
        z-index: -1;
        width: 200px;
        padding-top: 70;
        transition: 1s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
        border-radius: 50%;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}