.programs{
    margin: 80px auto ;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
 .info img{
    width: 85%;
    border-radius: 10px;
    display: block;

}
.info{
    flex-basis: 31%;
    position: relative;

}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(244, 244, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #070000;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 1s
}
.caption img{
    width: 60px;
    margin-bottom:10px ;
}
.info:hover .caption{
    opacity: 1;
    padding-top: 0;
}

/* media query */
@media (max-width:650px) {
    .programs{
        flex-direction: column;
    }
    .info{
        flex-basis: 100%;
        margin: 20px;
    }
}